@import "./variables";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

//INDEX//


header {
    background-color: aqua;
        flex-direction: column;
        align-items: center;
        display: flex;
}

nav {
    ul {
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    li {
        display: inline-block;
        -webkit-animation: swirl-in-fwd .6s ease-out both;
        animation: swirl-in-fwd .6s ease-out both;
    }
}

@for $item from 1 through 5 {

    .centro__:nth-child(#{$item}) {
        animation-delay: $item*0.2s;
    }

}
.cardpadre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 11px;

    .card__imagen {
        width: 150px;
        float: left;

        &:hover {
            transform: scale(1.8) translate(40px, 0px);
        }
    }

    .titulo {
        margin-left: 35px;

    }

    .descripcion {
        margin: 10px;
        
    }
}

//PRODUCTOS//

.productos1 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 11px;

    .card__imagen {
        width: 150px;
        float: left;

        &:hover {
            transform: scale(1.8) translate(40px, 0px);
        }
    }

    .titulo {
        margin-left: 35px;

    }

    .descripcion {
        margin: 10px;
        
    }
}

//IMAGENES//
.imagenes {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 50px;
    justify-items: center;
    
}

.redes {
    display: flex;
    justify-content: center;
    background-color: aqua;

    
    padding-block: 20px;

    .iconos {
        display: flex;
        align-items: center;
        gap: 1rem;

        .fab {
            padding: 1rem;
        }
    }
}

.fa-whatsapp,
.fa-facebook,
.fa-instagram {
    @extend %iconos;
}

@-webkit-keyframes swirl-in-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
        opacity: 0
    }

    100% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1
    }
}

@keyframes swirl-in-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
        opacity: 0
    }

    100% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1
    }
}
@media screen and (max-width: 1200px){
    .imagenes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 50px;
    }

}
@media screen and (max-width: 580px) {

    .centro__ {
        margin-left: 0px;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
    }

    .cardpadre {
        margin-top: 10px;
        grid-template-columns: repeat(1, 1fr);

    }

    .imag {
        margin-top: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .mw-100 {
        font-size: 150;
    }
    .imagenes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-row-gap: 50px;
    }
}
