* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

//INDEX//
.logo {
    margin-left: 40%;
}

header {
    background-color: rgb(95, 214, 214);
    align-items: center;
}

    nav {
        justify-content: space-around;
        align-content: flex-start;

        ul {
            align-items: center;
            
            display: flex;
            justify-content: space-between;

            li {
                display: inline-block;
            }
        }
    }



.cardpadre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 11px;

    .card__imagen {
        width: 100px;
        padding-left: 10px;
        margin-block: 30px;
        margin-left: 10px;
        float: left;
        &:hover{
            transform: scale(2.8) translate(40px, 0px);
        }
    }
        .titulo {
            margin-left: 35px;
            
        }
        
        .descripcion {
            background-color: rgb(187, 231, 140);
            height: 90px;
            display: flex;
            transition: all 2s,
        }
        

}
//PRODUCTOS//
.card {

    display: inline-block;
    width: 45%;
    padding-left: 50px;
    margin-block: 50px;
    .card__imagen{
        width: 100px;
        padding-left: 10px;
        margin-block: 30px;
        margin-left: 10px;
        float: left;
        &:hover{
            transform: scale(2.8) translate(40px, 0px);
        }
    }
}
//IMAGENES//
.imag{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 11px;

    .imagen{
        padding-left: 10px;
        margin-block: 30px;
        margin-left: 10px;
        float: left;
        height: 300px;
        
    }
}
@media screen and (max-width: 480px) {


    .centro__ {
        margin-left: 0px;
        margin-right: 16px;


    }

    .cardpadre {
        margin-top: 10px;
        grid-template-columns: repeat(1, 1fr);

    }

    .imag{
        margin-top: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .mw-100{
        font-size: 150;
    }
}