.fa-facebook {
  background-color: blue; }

.fa-instagram {
  background-color: #8b0960; }

.fa-whatsapp {
  background-color: #3fda10; }

.fa-whatsapp,
.fa-facebook,
.fa-instagram {
  width: 50px; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

header {
  background-color: aqua;
  flex-direction: column;
  align-items: center;
  display: flex; }

nav ul {
  flex-direction: column;
  align-items: center;
  display: flex; }

nav li {
  display: inline-block;
  -webkit-animation: swirl-in-fwd .6s ease-out both;
  animation: swirl-in-fwd .6s ease-out both; }

.centro__:nth-child(1) {
  animation-delay: 0.2s; }

.centro__:nth-child(2) {
  animation-delay: 0.4s; }

.centro__:nth-child(3) {
  animation-delay: 0.6s; }

.centro__:nth-child(4) {
  animation-delay: 0.8s; }

.centro__:nth-child(5) {
  animation-delay: 1s; }

.cardpadre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 11px; }
  .cardpadre .card__imagen {
    width: 150px;
    float: left; }
    .cardpadre .card__imagen:hover {
      transform: scale(1.8) translate(40px, 0px); }
  .cardpadre .titulo {
    margin-left: 35px;
    font-family: "Parisienne", cursive; }
    .cardpadre .titulo .descripcion {
      margin: 10px; }

.productos1 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 11px; }
  .productos1 .card__imagen {
    width: 150px;
    float: left; }
    .productos1 .card__imagen:hover {
      transform: scale(1.8) translate(40px, 0px); }
  .productos1 .titulo {
    margin-left: 35px;
    font-family: "Parisienne", cursive; }
  .productos1 .descripcion {
    margin: 10px; }

.imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 50px;
  justify-items: center; }
  .imagenes .card-text {
    font-family: "Parisienne", cursive; }

.redes {
  display: flex;
  justify-content: center;
  background-color: aqua;
  padding-block: 20px; }
  .redes .iconos {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .redes .iconos .fab {
      padding: 1rem; }

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1; } }

@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1; } }

@media screen and (max-width: 1200px) {
  .imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 50px; } }

@media screen and (max-width: 580px) {
  .centro__ {
    margin-left: 0px;
    margin-right: 16px;
    display: flex;
    flex-direction: column; }
  .cardpadre {
    margin-top: 10px;
    grid-template-columns: repeat(1, 1fr); }
  .imag {
    margin-top: 10px;
    grid-template-columns: repeat(1, 1fr); }
  .mw-100 {
    font-size: 150; }
  .imagenes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-row-gap: 50px; } }
